.app {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(200deg, #B380FD 12%, #6347F5 78%);
}

.ant-layout {
  min-height: 100vh;
  background-color: transparent;
}

.ant-layout-sider {
  background-color: transparent;
}

.ant-layout-content {
  background-color: #f7f7fb;
  border-radius: 32px 0 0 0;
}